@import '../../variables.scss';

.userContainer {
  max-width: 384px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px 32px;
  border-radius: 5px;
}

.articleContainer {
  width: 900px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
  padding: 48px 32px;
  border-radius: 5px;
  .submitBtn {
    color: $primary-color;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100px;
    padding: 8px 16px;
    background-color: $info-color;
  }
}

.labelInput {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 2px;
}

.inputText {
  font-size: 16px;
  color: $main-text-color;
  border: 1px solid $input-text-color;
  border-radius: 5px;
  padding: 8px 12px;
}

.inputError {
  border-color: red;
}

.inputDescr {
  font-size: 14px;
}

.CheckboxContainer {
  border-top: 1px solid $input-text-color;
  padding-top: 8px;
  text-align: start;
  align-items: start;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.submitBtn {
  color: $primary-color;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px;
  background-color: $info-color;
}

.submitBtn:hover {
  opacity: 0.6;
}

.validateError {
  color: $error-color;
}

.inputTextArea {
  font-size: 16px;
  color: $main-text-color;
  border: 1px solid $input-text-color;
  border-radius: 5px;
  padding: 8px 12px;
  height: 10vh;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 320px;
}

.tagsContainer {
  display: flex;
  gap: 18px;
}

.buttonDelete {
  background-color: inherit;
  border: 1px solid $error-color;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: $deg;
  color: $error-color;
}
.buttonAdd {
  background-color: inherit;
  border: 1px solid $info-color;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: $deg;
  color: $info-color;
}

.buttonDelete:hover,
.buttonAdd:hover {
  opacity: 0.5;
}
