$primary-color: #ffffff;
$background-color: #ebeef3;
$input-text-color: #bfbfbf;
$error-color: #f5222d;
$title-color: rgba(0, 0, 0, 0.85);
$info-color: rgba(24, 144, 255, 1);
$main-text-color: rgba(0, 0, 0, 0.75);
$secondary-text-color: rgba(0, 0, 0, 0.5);
$active-button-color: rgba(82, 196, 26, 1);
$box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
$deg: 5px;
//12, 14, 16, 18, 20
